.carousel-caption{
    text-transform: uppercase;
    margin-bottom: 450px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900; 
    font-size: 30px;
}

@media (max-width: 992px) {
    .mobileMenu {
      transform: translateX(-100%);
      position: fixed;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      transition: all ease 0.25s;
    }
    .mobileMenu.onRight {
      left: auto;
      right: 0;
      transform: translateX(100%);
    }
    .mobileMenu.open {
      transform: translateX(0%);
    }
    .mobileMenu .navbar-nav {
      overflow-y: auto;
    }
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    .overlay.open {
      display: block;
      z-index: 1029;
    }
  }

 
 